*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: tomato;
    color: rgb(255, 255, 255);
    padding: 10px;
}

h5{
    color: rgb(0, 0, 0);
}
h4{
    text-transform: uppercase;
    font-size: 12px;
}

header img {
    height: 8vh;
    border-radius: 50%;
}

header div {
    display: flex;
    align-items: center;
    gap: 20px;
}

header button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9PMHqPSCpEvm9t9hv3sM93h07oAjN0Y2EUehFrXh8XGqSC8Q8) no-repeat center / cover;
}

#pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);

}


#pesquisa label {
    height:31px;
    width: 30px;
   background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJEoaMzzM4k_PXmfFosxWsSyqqT6_20mycZQ&usqp=CAU) no-repeat center / 100% 90% ;
}

#pesquisa input {
    padding: 6px;
    background-color: #f0f8ff;
    border: none;
}


h3{
    font-size: 20px;
    font-weight: bolder;
    background-color: black;
    color: #f0f8ff;
    padding-bottom: 15px;
}

main {
    text-align: center;
}

main section {
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 10px;
    gap: 30px;
    position: relative;
}

main section div {
    border: solid 1px rgb(18, 34, 180);
    width: 300px;
}

section div article {
    display:flex;
    position: relative;
    min-height: 18vh;
}

section div article img {
    width: 100px;
    height: 120px;
}

audio{
    height: 20px;
    width: 180px;
    margin-top: 5px;

}


section div article span{
    display: block;
    color: rgb(255, 0, 0);

 
    width: 100%;
    font-weight:bolder;
}

section div article h5 {
    margin-top: 10px;
}

article h5::after{
   content: "";
    position: absolute;
    bottom: 5px;
    left: 186px;
    width: 10px;
    height: 10px;
    background: red url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP1sNeRXOXjrym6GbPFUP3mH0dN8RPdlwSqHHUemy3ZY30-k66xPrQWT4Shsvx9GhR7Es&usqp=CAU) no-repeat center / cover;
}



.saibamais{
    display: none;
}

